<div class="section section-basic">
    <div class="container">
      <h3 class="title col-md-12 text-center">Monitev es una plataforma IoT que permite la recopilación, el procesamiento, la visualización y la gestión de dispositivos de datos</h3>
      <div id="buttons">
          <h4 class="text-center">Permite la conectividad de dispositivos a través de protocolos IoT estándar de la industria: MQTT, CoAP y HTTP, su implementación está en la nube, pero si el cliente lo desea se puede instalar de manera local en su ambiente. Monitev combina escalabilidad, tolerancia a fallos y rendimiento para que nunca pierda sus datos.</h4>   
      </div>
    </div>
</div>
