<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/fondo-01.jpg');">
    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/logo_update_1.png" alt="">
              <h3 class="h3-seo">Plataforma de IoT para la gestión y monitoreo de variables</h3>
          </div>
      </div>
  </div>
  <div class="main">
    <div class="section section-images">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-images-container">
                        <img src="assets/img/hero-image-1.png" alt="">
                    </div>
                    <div class="hero-images-container-1">
                        <img src="assets/img/hero-image-2.png" alt="">
                    </div>
                    <div class="hero-images-container-2">
                        <img src="assets/img/hero-image-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
      <app-basicelements></app-basicelements>
      <div class="section section-tabs">
          <div class="container">
              <div class="row">
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                      <p class="category" style="font-weight: 500;line-height: 54px;font-size: 36px;color:black">DISPOSITIVOS</p>
                      <!-- Nav tabs -->
                      <div class="card">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper" style="padding: 1rem;font-size: 16px;">
                                <p class="text-left">Aprovisione dispositivos, activos y clientes, además defina las relaciones entre ellos. Recopile y visualice datos de dispositivos y activos. Cree flujos de trabajo basados en un evento del ciclo de vida del dispositivo.</p>
                            </div>
                        </div> 
                      </div>
                  </div>
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                      <!-- Tabs with Background on Card -->
                      <div class="card">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <img src="assets/img/imagenes_app/crear_dispositivos_monitev.png" alt="">
                            </div>
                        </div>
                      </div>
                      <!-- End Tabs on plain Card -->
                  </div>
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto mt-4">
                    <!-- Tabs with Background on Card -->
                    <div class="card">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <img src="assets/img/imagenes_app/crear_dispositivos_monitev.png" alt="">
                          </div>
                      </div>
                    </div>
                    <!-- End Tabs on plain Card -->
                </div>
                <div class="col-md-10 ml-auto col-xl-6 mr-auto mt-4">
                    <p class="category" style="font-weight: 500;line-height: 54px;font-size: 36px;color:black;">TELEMETRíA</p>
                    <!-- Nav tabs -->
                    <div class="card">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper" style="padding: 1rem;font-size: 16px;">
                              <p class="text-left">Analice la telemetría entrante y active alarmas con un procesamiento de eventos complejo. Envíe los datos del dispositivo a otros sistemas.</p>
                          </div>
                      </div> 
                    </div>
                </div>
                <div class="col-md-10 ml-auto col-xl-6 mr-auto mt-4">
                    <p class="category" style="font-weight: 500;line-height: 54px;font-size: 36px;color:black">MOTOR DE REGLAS</p>
                    <!-- Nav tabs -->
                    <div class="card">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper" style="padding: 1rem;font-size: 16px;">
                              <p class="text-left">Cree flujos de trabajo basados en un evento del ciclo de vida del dispositivo. Habilite funciones específicas de casos de uso mediante cadenas de reglas personalizadas.</p>
                          </div>
                      </div> 
                    </div>
                </div>
                <div class="col-md-10 ml-auto col-xl-6 mr-auto mt-4">
                    <!-- Tabs with Background on Card -->
                    <div class="card">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <img src="assets/img/imagenes_app/crear_reglas_monitev.png" alt="">
                          </div>
                      </div>
                    </div>
                    <!-- End Tabs on plain Card -->
                </div>
                <div class="col-md-10 ml-auto col-xl-6 mr-auto mt-4">
                    <!-- Tabs with Background on Card -->
                    <div class="card">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <img src="assets/img/widgets/widgets.png" alt="">
                          </div>
                      </div>
                    </div>
                    <!-- End Tabs on plain Card -->
                </div>
                <div class="col-md-10 ml-auto col-xl-6 mr-auto mt-4">
                    <p class="category" style="font-weight: 500;line-height: 54px;font-size: 36px;color:black;">DASHBOARD y WIDGET</p>
                    <!-- Nav tabs -->
                    <div class="card">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper" style="padding: 1rem;font-size: 16px;">
                              <p class="text-left">Diseñe paneles de control dinámicos y receptivos y presente información y telemetría de dispositivos o activos a sus clientes.</p>
                          </div>
                      </div> 
                    </div>
                </div>
              </div>
          </div>
      </div>
      <div class="section section-javascript" id="javascriptComponents">
          <div class="container">
          <div class="section" id="carousel">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-8">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img class="d-block" src="assets/img/carrusel/smart_city.png" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h4 style="font-weight:bold">SMART CITY</h4>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/carrusel/smart_agro.jpeg" alt="Second slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h4 style="font-weight:bold">SMART AGRO</h4>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/carrusel/smart_water.jpg" alt="Third slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h4 style="font-weight:bold">SMART WATER</h4>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img class="d-block" src="assets/img/carrusel/industria.jpg" alt="Third slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h4 style="font-weight:bold">IOT INDUSTRIAL</h4>
                                </div>
                              </ng-template>
                        </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    <app-planes></app-planes>
    <app-boton-pago-epayco></app-boton-pago-epayco>
    <div class="row section justify-content-center">
        <div id="cuenta">
            <div class="simply-section shadow-lg p-3 mb-5 rounded">
                <div class="justify-content-center text-center">
                    <h4 class="font-style">Dispositivos conectados</h4>
                    <h4 [ngClass]="{'mt-3 font-style-contador animate__animated animate__bounce': aplicarAnimate}">{{dispositivos}}</h4>
                </div>
            </div>
            <div class="simply-section shadow-lg p-3 mb-5 rounded">
                <div class="justify-content-center text-center">
                    <h4 class="font-style">Mensajes procesados</h4>
                    <h4 [ngClass]="{'mt-3 font-style-contador animate__animated animate__bounce': aplicarAnimate}">{{mensajes}}</h4>
                </div>
            </div>
            <div class="simply-section shadow-lg p-3 mb-5 rounded">
                <div class="justify-content-center text-center">
                    <h4 class="font-style">Clientes conectados</h4>
                    <h4 [ngClass]="{'mt-3 font-style-contador animate__animated animate__bounce': aplicarAnimate}">{{clientes}}</h4>
                </div>
            </div>
            <div class="simply-section shadow-lg p-3 mb-5 rounded">
                <div class="justify-content-center text-center">
                    <h4 class="font-style">Visitantes activos</h4>
                    <h4 id="visitas" [ngClass]="{'mt-3 font-style-contador animate__animated animate__bounce': aplicarAnimate}">{{visitas}}</h4>                    
                </div>
            </div>
        </div>
    </div>
  </div>
  <hr>
  <app-footer></app-footer>
</div>
