<footer class="footer" data-background-color="black">
    <div class="container">
        <nav>
            <ul>
              <li>
                  <a href="https://www.creative-tim.com">
                     Integraciones
                  </a>
              </li>
              <li>
                  <a routerLink="/planes/true">
                     Precios
                  </a>
              </li>
                <li>
                    <a href="https://www.creative-tim.com">
                       Cotizar
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/about-us">
                        Nosotros
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
           Copyright &copy;
          {{data | date: 'yyyy'}}, Diseñado por 
            <a href="https://www.monitev.com" target="_blank">Monitev Inc.</a>
        </div>
    </div>
</footer>