
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/now-logo.png" alt="">
                        </div>
                    </div>
                    <form class="container" [formGroup]="formLogin" (ngSubmit)="login()" novalidate>

                        <div class="content">
                          <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                            </div>
                              <input formControlName="email" type="email" 
                              [class.is-invalid]="formLogin.get('email').invalid && formLogin.get('email').touched" type="email" class="form-control" class="form-control" placeholder="example@example.com..." (focus)="focus=true" (blur)="focus=false" required="true">
                          </div>
                          <div *ngIf="formLogin.get('email').errors && (formLogin.get('email').invalid || formLogin.get('email').touched)">
                            <small class="text-danger" *ngIf="formLogin.get('email').hasError('required')">Email es requerido</small>
                            <small class="text-danger" *ngIf="formLogin.get('email').hasError('pattern')">El email no es válido</small>
                          </div>
                          <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                            </div>
                              <input formControlName="password" type="password" placeholder="password..." class="form-control" (focus)="focus1=true" (blur)="focus1=false" required="true"/>
                          </div>
                          <div *ngIf="formLogin.get('password').errors && (formLogin.get('password').invalid)">
                            <small class="text-danger" *ngIf="formLogin.get('password').hasError('required')">Password es requerida</small>
                          </div>
                        </div>
                        <div>
                            <p class="text-danger">{{respuesta | translate}}</p>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block" [disabled]="formLogin.invalid" style="color:aliceblue">Iniciar sesión</button>
                        </div>
                    </form>
                    <div class="pull-right">
                        <h6>
                            <a href="#pablo" class="link">Necesitas ayuda?</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
